*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-image: url(https://github.com/alevitorio/exercicios-pwI/blob/main/pwI-lista-8/assets/logo.png?raw=true);
    background-repeat: no-repeat;
    background-position: 50px;
   text-align: center;
    background-color: rgb(252, 87, 21);
    margin: 2px 100px;
    padding: 10px;
}

.list{
    color: white;
display: inline-block;
padding: 5px;

}

.list2{
    color: white;
    display: inline-block;
}
    

body{
    background-image: url(https://github.com/alevitorio/exercicios-pwI/blob/main/pwI-lista-8/assets/bg-2.png?raw=true);
}

input{
    margin: 5px;
   padding: 5px;
   margin-bottom: 10px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
}
.contact{
    text-align: center;
    margin: 350px;
}


button{
    margin: 20px;
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(64, 131, 255);
    font-size: 1.2em;
    cursor: pointer;
    color: aliceblue;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}